body {
    font-family: tahoma;
    background-color: #efebe0;  
    margin: 0;
    padding: 20px;
}

h1 {
    color: #806b63;
    text-align: center;
    margin-bottom: 30px;
  font-size: 60px;
}

h2{
    color: #806b63;
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
}

.contactform {
    background-color: #efebe0;  
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;  
    border-radius:20px;
    box-shadow: 0 4px 10px #e8c4c699;
  border: 3px solid  #806b63;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #806b63;
  Font-size:18px;
}

input, textarea {
    width: calc(100% - 20px);  
    padding: 12px;
    margin-bottom: 20px; 
    border: 1px solid #806b63;
    border-radius: 20px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #e8c4c6;
    outline: none;
    box-shadow: 0 0 5px #e8c4c699;
}

button {
    background-color: #806b63;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #e8c4c6;
}

h2 {
    color: #806b63;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 55px;
}

.LocTime {
display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;
  
}

.locationBox, .hoursBox, .linksbox {
    background-color: #efebe0; 
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
   box-shadow: 0 2px 50px #e8c4c699;
  text-align: center;
}

.locationLink {
    color: #806b63;
    text-decoration: underline;
    font-size: 18px;
}

.locationLink:hover {
  font-size:larger;
}

.numberlink {
    color: #806b63;
    text-decoration: underline;
    font-size: 18px;
}

.numberlink:hover {
  font-size:larger;
}

p {
    color: #806b63;
    font-size: 18px;
}

.cow {
    color: #806b63; 
    font-weight: bold;
  font-size: 18px;
}

.linksbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.linksbox a {
    margin: 0 10px;
}

.linksbox img {
    width: 50px; 
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s;
}

.linksbox img:hover {
    transform: scale(1.1);
}
