body{
  font-family: tahoma;
  background-color: #efebe0;
  margin: 0;
  padding: 20px;
}

p{
  color: #806b63;
  font-size: 18px;
}

.navbar{
  width: 100%;
  background: #e8c4c6;
  display: flex;
  align-items: center;
}

.navbar ul{
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar ul a{
  color: #fff;
  text-decoration: none;
}

.navbar img{
  flex: 1;
  height: 150px;
  width: 650px;
  object-fit: cover;
}

h1{
  color: #806b63;
  text-align: center;
  margin-bottom: 30px;
  font-size: 60px;
}

h2{
  color: #806b63;
  text-align: center;
  margin-bottom: 30px;
  font-size: 55px;
}

.contactform{
  background-color: #efebe0;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px #e8c4c699;
  border: 3px solid #806b63;
}

label{
  display:block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #806b63;
  font-size: 16px;
}

input, textarea{
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #806b63;
  border-radius: 20px;
  font-size: 16px;
}

input:focus, textarea:focus{
  border-color: #e8c4c6;
  outline: none;
  box-shadow: 0 0 5px #e8c4c699;
}

button{
  background-color: #806b63;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
  width: 100%;
}

button:hover{
  background-color: #e8c4c6;
}

.LocTime{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.locationbox, .hoursbox, .linksbox{
  background-color: #efebe0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 50px #e8c4c699;
  text-align: center;
}

.locationlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.locationlink:hover{
  font-size: larger;
}

.numberlink{
  color: #806b63;
  text-decoration: underline;
  font-size: 18px;
}

.numberlink:hover{
  font-size: larger;
}

.cow{
  color: #806b63;
  font-weight: bold;
  font-size: 18px;
}

.linksbox{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.linksbox a{
  margin: 0 10px;
}

.linksbox img{
  width: 75px;
  height: auto;
  border-radius: 10px;
  transition: transform 0,2s;
}

.linksbox:hover{
  transform: scale(1.1);
}

.footer {
  background-color: #E8C4C6;
  color:#806B63;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width:1900px;
}
